<footer>
    <p class="follow">
      You can follow the latest news of the site and the channel on
      <a href="https://www.facebook.com/Pingucoder"> Facebook </a>
    </p>
    <p class="design">Designed and developed by Pingucoder © 2022</p>
</footer>