<header class="myheader">
    <h1><a style="all: unset" href="/">Pingucoder 🐧</a></h1>
     <nav>
         <ul class="parent">
             <li>
                 <a href="https://www.youtube.com/playlist?list=PLEjNeg4a--Pxu18pxcVya8cTS--mvD1nl">
                     All Courses
                 </a>
             </li>
             <li><a href="/add-new-article"> Add New Article </a></li>
             <li id="dark" class="mode">Change mode</li>
             <li><a href=""> Support Us </a></li>
         </ul>
     </nav>
 </header>